%h1 Edit Micropost

%h4=link_to '<-- Back to listing', micropost_index_path

= form_for @micropost, url: { action: 'update' }, method: :patch do |f|
  - if @micropost.errors.any?
    %h2
      = pluralize(@micropost.errors.count, 'error')
      prohibited
      this micropost from being saved:
    %ul
      - @micropost.errors.full_messages.each do |msg|
        %li= msg

  %h2 Title:
  = f.text_field :title

  %h2 Content:
  = f.text_area :content

  %p= f.submit